.tweetMemoExplation {
  border: 1px solid #dee2e6;
  border-radius: 12px;
  padding: 12px;
}

.sidebar {
  height: 100vh;
  overflow-y: scroll;
  border-right: solid 3px #dee2e6;
  border-left: solid 3px #dee2e6;
  border-bottom: solid 3px #dee2e6;
}

.mainContent {
  height: 100vh;
  padding-right: 0px;
}